@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="jumbotron">
        <h1>Academia University</h1>
    </div>
    
    <hr />

<div class="row">
    <div class="col-md-4">
        <h2>Academia University</h2>
        <p>
            Academia University es una aplicación de ejemplo que
            demuestra como usar Entity Framework Core en una
            Aplicación Web con ASP.NET Core MVC con .NET 6.0
        </p>
    </div>

    <div class="col-md-4">
        <h2>Construir con scratch</h2>
        <p>Tu puedes construir la aplicación siguiendo los pasos en una serie de tutoriales.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Descargaló</h2>
        <p>Puedes descargar el proyecto completo desde GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>

</div>
